[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
coverage = "*"
flask = "*"
flask-dotenv = "*"
itsdangerous = "*"
"jinja2" = "*"
jsonschema = "*"
lxml = "*"
markupsafe = "*"
nose = "*"
pygments = "*"
pyxb = "*"
simplejson = "*"
werkzeug = "*"


[dev-packages]

neovim = "*"


[requires]

python_version = "3.6"
